/* CASES HTML */
nav form{
  padding-left: 680px;
  }
  
  nav a{
  font-size: 15px;
  padding-right: 20px;
  }
  
  .navbar-nav{
  padding-left: 200px;
  color:white;
  }
  
.container{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    
    }
  
  .container h5{
   font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  .container p{
    text-align: center;
  }
  .container i{
    padding-left: 30px;
  }
  table{
    font-size: 13px;
  }
  th{
    color: rgb(58, 58, 58);
  
  }
  
  
  .dead{
    color: red;
  }
  .recovered{
    color: green;
  }
  .admitted{
    color: blue;
  }

  .container p1{
    text-align: left;
  }

    footer{
      margin-top: 10px;
      }
      
      .footercontainer a{
      font-size: 30px;
      padding-left: 15px;
      padding-right: 15px;
      }
      
      .footercontainer .row{
      text-align: center;
      }
      
